/*
Theme Name: Petra Land-Page
Theme URI: https://gitlab.com/Robson16/vista-lagoa
Author: Stratesign
Author URI: https://www.stratesign.com.br/
Description:
Requires at least: WordPress 4.9.6
Version: 1.0
Text Domain: petra
Tags: one-column, accessibility-ready, custom-logo, translation-ready
*/

body {
    font-family: "Open Sans", sans-serif;
}
a {
    color: #000;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
a:hover {
    text-decoration: none;
    color: #000;
}
form p {
    margin-bottom: 1rem;
}
form label {
    margin: 0;
    width: 100%;
}
form select {
    width: 33.333%;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    background-image: linear-gradient(45deg, transparent 50%, #fff 50%), linear-gradient(135deg, #fff 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
}
form textarea {
    min-height: 130px;
}
form input[type="submit"] {
    display: block;
    margin: 0 auto;
    padding: 12px 50px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2rem;
    color: #fff;
    border: none;
}
form input:-webkit-autofill,
form input:-webkit-autofill:hover,
form input:-webkit-autofill:focus textarea:-webkit-autofill,
form textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
form select:-webkit-autofill,
form select:-webkit-autofill:hover,
form select:-webkit-autofill:focus {
    transition: background-color 5000s ease-in-out 0s;
    border: 1px solid #eee;
    -webkit-box-shadow: 0 0 0 1000px #eee inset;
    -webkit-text-fill-color: #000;
}
form ::placeholder {
    color: #aaa;
    opacity: 1;
    font-style: italic;
}
form :-ms-input-placeholder {
    color: #aaa;
    font-style: italic;
}
form ::-ms-input-placeholder {
    color: #aaa;
    font-style: italic;
}
form input[type="text"],
form input[type="email"],
form input[type="tel"],
form select,
form textarea {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    width: 100%;
    height: calc(1.5em);
    padding: 20px 10px;
    border: none;
    border-radius: 0;
    background: #fff;
    background-clip: padding-box;
}
#map {
    height: 100%;
    min-height: 50vh;
}
#address {
    max-width: 500px;
}
#contato form input,
#contato form textarea {
    border: 2px solid #000;
}
#contato form input[type="submit"] {
    background-color: #000;
}
#footer {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#footer .logo-petra-living {
    fill: #fff;
}
.nav-link {
    font-weight: 400;
}
.navbar-light .navbar-nav .nav-link {
    color: #000;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #000;
}
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #fff;
}
.logo-petra-living.is-white {
    fill: #fff;
}
.logo-petra-living.is-small {
    width: 50%;
    height: 50%;
}
.btn-black {
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 0;
    color: #fff;
    background-color: #000;
}
.btn-black:hover,
.btn-black:focus,
.btn-black:active {
    color: #fff;
    background-color: #1a1a1a;
}
.icon-box,
.icon-chef,
.icon-dog,
.icon-dumbbell,
.icon-harvest,
.icon-work-station,
.icon-facebook,
.icon-instagram {
    display: inline-block;
    background: url("./images/icons-sprite.png") no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    text-align: left;
}
.icon-box {
    background-position: 0px 0px;
    width: 64px;
    height: 64px;
}
.icon-chef {
    background-position: 0px -64px;
    width: 64px;
    height: 64px;
}
.icon-dog {
    background-position: 0px -128px;
    width: 64px;
    height: 64px;
}
.icon-dumbbell {
    background-position: 0px -192px;
    width: 64px;
    height: 64px;
}
.icon-harvest {
    background-position: 0px -256px;
    width: 64px;
    height: 64px;
}
.icon-work-station {
    background-position: 0px -320px;
    width: 64px;
    height: 64px;
}
.icon-facebook {
    background-position: 0px -384px;
    width: 32px;
    height: 32px;
}
.icon-instagram {
    background-position: -32px -384px;
    width: 32px;
    height: 32px;
}
.jumbotron {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.metaslider .flexslider {
    margin: 0 0 80px !important;
}
.metaslider .flex-control-nav {
    bottom: -45px !important;
}
@media (min-width: 768px) {
    body.logged-in #main-menu.fixed-top {
        margin-top: 46px;
    }
}
@media (min-width: 992px) {
    body.logged-in #main-menu.fixed-top {
        margin-top: 32px;
    }
}
@media (max-width: 576px) {
    .display-sm-1 {
        font-size: 3rem;
        font-weight: 300;
        line-height: 1;
    }
    .display-sm-2 {
        font-size: 2.75rem;
        font-weight: 300;
        line-height: 1;
    }
    .display-sm-3 {
        font-size: 2.25rem;
        font-weight: 300;
        line-height: 1;
    }
    .display-sm-4 {
        font-size: 1.75rem;
        font-weight: 300;
        line-height: 1;
    }
}
.bg-black {
    background-color: #000;
}

