/* State */

// Fix in navbar for when user is logged in
body.logged-in {
    #main-menu.fixed-top{
        @media (min-width: 768px){
            margin-top: 46px;
        }
        @media (min-width: 992px){
            margin-top: 32px;
        }
    }
}