/* Placeholders */

%form-fields {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    width: 100%;
    height: calc(1.5em);
    padding: 20px 10px;
    border: none;
    border-radius: 0;
    background: #FFF;
    background-clip: padding-box;
}