/* Buttons */

.btn-black {
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 0;
    color: #fff;
    background-color: #000;

    &:hover, &:focus, &:active {
        color: #fff;
        background-color: lighten(#000, 10%); 
    }
}
