/* Navbar */

.nav-link {
    font-weight: 400;
}

.navbar-light  {
    .navbar-nav { 
        .nav-link {
            color: rgba(0,0,0,1);

            &:focus, &:hover {
                color: rgba(0,0,0,1);
            }
        }
    }
}

.navbar-dark {
    .navbar-nav { 
        .nav-link {
            color: rgba(255,255,255,1);

            &:focus, &:hover {
                color: rgba(255,255,255,1);
            }
        }
    }
}